h1
{
    color:#ff00ff;
}

.smollpill
{
width:675px;
height:auto;
margin-right:70px;
}

.flex-container
{
    display: flex;
    justify-content: center; /* try:  start, space-between, space-around center */

    /* width: max-content;
    height: max-content; */
    box-sizing: border-box;

}

.horizontal
{
    flex-direction: row;
}